# Editors
#.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*

# go-task build cache
.task/
image_list.txt

# Project specific
temp
.capacitor
.output
agent.sock

# Python
__pycache__/
*.py[cod]

# Git worktrees
.worktrees/
